NODE_ENV=development
PORT=3000
LOG_LEVEL=info

AUTH_ADAPTER=keycloak
BLOB_ADAPTER=minio
EVENTING_ADAPTER=pg
TARGET_STORE_ADAPTER=pg

INTERNAL_DATABASE_URL=postgres://openldr:openldr@localhost:5432/openldr
TARGET_DATABASE_URL=postgres://openldr:openldr@localhost:5432/openldr_target

S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET=openldr
S3_FORCE_PATH_STYLE=true

OIDC_ISSUER_URL=http://localhost:8080/realms/master
